<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-cart-shopping"></i>عربه التسوق
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-user"></i> تسجيل الدخول</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link">ُEnglish</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="انت بتدور على ايه؟"
          dir="rtl"
        />
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item img-container">
          <a class="nav-link"
            >تسليم الى <br />

            القاهره</a
          >
        </li>
        <li>
          <img
            src="https://f.nooncdn.com/s/app/com/noon/design-system/logos/noon-logo-ar.svg"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="menu" dir="rtl">
  <div class="table-container">
    <div class="main-element">
      جميع الفئات<i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="table-holder">
      <table dir="rtl">
        <thead>
          <tr>
            <th>Class</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>الإلكترونيات</td>
            <td>الإلكترونيات</td>
            <td>الإلكترونيات</td>
          </tr>

          <tr>
            <td>الموبايلات</td>
            <td>الموبايلات</td>
            <td>الموبايلات</td>
          </tr>

          <tr>
            <td>'الجمال والعناية الشخصية'</td>
            <td>'الجمال والعناية الشخصية'</td>
            <td>'الجمال والعناية الشخصية'</td>
          </tr>
          <tr>
            <td>'الرياضة واللياقة البدنية</td>
            <td>'الرياضة واللياقة البدنية</td>
            <td>'الرياضة واللياقة البدنية</td>
          </tr>
          <tr>
            <td>الموسيقى</td>
            <td>الموسيقى</td>
            <td>الموسيقى</td>
          </tr>
          <tr>
            <td>لمنزل والمطبخ '</td>
            <td>لمنزل والمطبخ '</td>
            <td>لمنزل والمطبخ '</td>
          </tr>
          <tr>
            <td>مستلزمات السيارات</td>
            <td>مستلزمات السيارات</td>
            <td>مستلزمات السيارات</td>
          </tr>

          <tr>
            <td>منتجات الأطفال</td>
            <td>منتجات الأطفال</td>
            <td>منتجات الأطفال</td>
          </tr>
          <tr>
            <td>الكتب</td>
            <td>الكتب</td>
            <td>الكتب</td>
          </tr>

          <tr>
            <td>لوازم المكتب</td>
            <td>لوازم المكتب</td>
            <td>لوازم المكتب</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="clear"></div>

  <ul class="main-element-card">
    <div class="hover-element">
      <li>الإلكترونيات</li>

      <div class="element-card" dir="rtl">
        <div class="first">
          <ul class="text">
            <li>موبايلات وصلت جديد</li>
            <li>كل الموبايلات</li>
            <li>كل أجهزة التابلت</li>
            <li>'ساعات سمارت وإكسسوارات</li>
            <li>سماعات أذن لاسلكية</li>
            <li>سماعات أذن'</li>
            <li>الباور بانك</li>
            <li>الشواحن و الكابلات</li>
            <li>حوامل الموبايلات و سيلفي ستيك</li>
            <li>جرابات و لاصقات حماية الشاشة</li>
            <li>إكسسوارت ألعاب الموبايل و الواقع الافتراضي</li>
            <li>كروت ميموري</li>
          </ul>
        </div>

        <div class="second">
          <ul class="images">
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-06.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-08.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-03.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-04.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-08.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-05.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-02.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://a.nooncdn.com/cms/pages/20210725/16e8652696b98e99147acca517cc2c76/drop-brand-10.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-01.png"
                alt=""
              />
            </li>
          </ul>
        </div>

        <div class="third">
          <ul class="image">
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210413/05e3cb23daf67ccd318c9e9aca852093/ar_drop-01.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="https://z.nooncdn.com/cms/pages/20210413/05e3cb23daf67ccd318c9e9aca852093/ar_drop-02.png"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <li>موبايلات</li>
    <li>رجالية</li>
    <li>نسائية</li>
    <li>المنزل</li>
    <li>الجمال والعطور</li>
    <li>الاطفال و الالعاب</li>
    <li>الاطفال و الالعاب</li>
    <li>بيع في نون</li>
    <li style="color: #de0b0b">العروض</li>
  </ul>
</div>

<div class="clear"></div>
